{:vocab  {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
          :init-ns      net.wikipunk.mop.init
          :ns-prefix    "{{top/ns}}.rdf."
          :boot         [{{top/ns}}.{{main/ns}}.boot/{{rdfa/prefix}}]}
 :openai {:sc/create-fn net.wikipunk.openai/map->Client}}
