{:vocab {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
         :boot         [{{top/ns}}.{{main/ns}}.boot]
         :config       {:xtdb.lucene/lucene-store
                        {:db-dir ".vocab/lucene"}}}}
