{:description "A new RDF vocabulary for wikipunk.net"
 ;; this does not transform the data but does print a message:
 :data-fn     net.wikipunk.vocab/data-fn
 ;; this does not transform the EDN but does print a message:
 :template-fn net.wikipunk.vocab/template-fn
 :transform
 [["build" ""
   {"deps.tmpl" "deps.edn"}]
  ["src" "src/cljc/{{top/file}}/{{main/file}}"
   {"boot.tmpl" "boot.cljc"}]
  ["rdf" "src/cljc/{{top/file}}/rdf"
   {"rdf.tmpl" "{{main/file}}.cljc"}]]}
